.navbar
  .navbar-inner
    .left.sliding
      a(href="#").link.back
        i.icon.iconfont.icon-fanhui
    .center.sliding Create Order
.pages.navbar-through
  .page(data-page="create")
    .page-content
      .list-block
        ul
          li
            .item-content
              .item-media
                i.icon.iconfont.icon-shangpinmingzi
              .item-inner
                .item-input
                  input(type='text', placeholder='Item', v-model="order.title")
          li
            .item-content
              .item-media
                i.icon.iconfont.icon-icon_meiyuan_grey
              .item-inner
                .item-input
                  input(type='number', placeholder='Price', v-model="order.price")
          li
            .item-content
              .item-media
                i.icon.iconfont.icon-icon_shijian
              .item-inner
                .item-input
                  input(type='datetime-local', placeholder='Date', v-model="order.shipDate")
      .list-block
        ul
          li
            .item-content
              .item-media
                i.icon.iconfont.icon-icon_geren_red
              .item-inner
                .item-input
                  input(type='text', placeholder='Recipient', v-model="order.consumer.name")
          li
            .item-content
              .item-media
                i.icon.iconfont.icon-icon_shouji_blue
              .item-inner
                .item-input
                  input(type='tel', placeholder='Phone', v-model="order.consumer.phone")
          li
            .item-content
              .item-media
                i.icon.iconfont.icon-icon_didian
              .item-inner
                .item-input
                  input(type='text', placeholder='Address', v-model="order.consumer.address.title" ,@click="onSelectAddress",readonly)                  
          li.align-top
            .item-content
              .item-inner
                .item-input
                  input.street(type='text', placeholder='Street', v-model="order.consumer.address.content")
      .list-block
        ul                  
          li.align-top
            .item-content
              .item-inner
                .item-input
                  textarea.memo(placeholder='Leave Message', v-model="order.memo")
      button.create(@click="onCreate") OK (Fee:${{order.fee}})                  
      
        
