.navbar
  .navbar-inner
    .left.sliding
      a(href="#").link.back
        i.icon.icon-back
        span Back
    .center.sliding Delivery Order
.pages.navbar-through
  .page(data-page="me")
    .page-content wfewefwef  
  
