.item-title {{order.title}}
.shop-content.sub-2
  img.lazy.lazy-fadeIn.ks-demo-lazy.shop-icon.icon(:src="order.shop.icon&&order.shop.icon.length>0?order.shop.icon:'img/avatar-default.png'")
  .block
    .shop-title.title Shop: {{order.shop.shopName}}
    a.shop-phone.desc(@click="onCallPhone(order.shop.phone)") {{order.shop.phone}}
.consumer-content.sub-2
  img.lazy.lazy-fadeIn.ks-demo-lazy.consumer-icon.icon(:src="order.consumer.icon&&order.consumer.icon.length>0?order.consumer.icon:'img/avatar-default.png'")
  .block
    .consumer-title.title Consumer: {{order.consumer.name}}
    a.consumer-phone.desc(@click="onCallPhone(order.consumer.phone)") {{order.consumer.phone}}
.courier-content.sub-2(v-show="order.courier")
  img.lazy.lazy-fadeIn.ks-demo-lazy.courier-icon.icon(:src="order.courier.icon&&order.courier.icon.length>0?order.courier.icon:'img/avatar-default.png'")
  .block
    .courier-title.title Courier: {{order.courier.name}}
    a.courier-phone.desc(@click="onCallPhone(order.courier.phone)") {{order.courier.phone}}    
.source-content.sub-1
  .source-icon.icon.iconfont.icon-icon_qidian
  .source-title.title(@click="onJumpAddress(order.shop.address)") {{(order.shop.address.title?order.shop.address.title:"")+(order.shop.address.title&&order.shop.address.content?",":"")+(order.shop.address.content?order.shop.address.content:"")}}
.des-content.sub-1
  .des-icon.icon.iconfont.icon-icon_didian
  .des-title.title(@click="onJumpAddress(order.consumer.address)") {{(order.consumer.address.title?order.consumer.address.title:"")+(order.consumer.address.title&&order.consumer.address.content?",":"")+(order.consumer.address.content?order.consumer.address.content:"")}}
.date-content.sub-1
  .date-icon.icon.iconfont.icon-icon_shijian
  .date-title.title {{order.shipDate}}
.memo-content.sub-1
  .memo-icon.icon.iconfont.icon-message
  .memo-title.title  {{order.memo}}
.action-content
  .price ${{order.price}}
  .action(@click="onAction(order)",:disabled="order.state =='complete' || order.state =='cancel'") {{isBus?(order.state =='complete'?"Complete":order.state =='cancel'?"Cancel":"Edit"):order.state=="waiting"?"Take Order":order.state=="pickup"?"Take Goods":order.state=="delivery"?"Complete":"Completion"}}
