.popup.terms-screen
  .view
    .page
      .page-content.terms-screen-content
        i.close-icon.icon.iconfont.icon-icon-test(@click="onClose")
        p(align='center')
          u Spin Local Courier Terms and Conditions
        p
          | These Terms and Conditions ("Terms") govern your access or use of the
          | application(s) and service(s) (the "Services") made available by Spin Local
          | Courier Inc, its representatives, and agents (collectively "Spin "). THESE
          | TERMS AND CONDITIONS CONSTITUTE A LEGAL AGREEMENT BETWEEN YOU AND SPIN.
          | PLEASE READ THE FOLLOWING CAREFULLY.
        p
          | By accessing or using the Services, you agree to be bound by these Terms.
          | These Terms expressly supersede any prior agreements or arrangements
          | between you and Spin. At sole discretion of Spin, Spin may immediately
          | terminate these Terms or any Services with respect to you, or generally
          | cease offering or deny access to the Services or any portion of the
          | Services.
        p
          | 1. Services
        p
          | The Services comprise mobile applications and/or related services
          | ("Application"), which enable users to arrange and schedule courier
          | services with third party provider of such services under agreement with
          | Spin ("Couriers"). YOU ACKNOWLEDGE THAT YOUR ABILITY TO OBTAIN COURIER
          | SERVICES THROUGH THE USE OF THE SERVICES DOES NOT ESTABLISH SPIN AS A
          | PROVIDER OF COURIER SERVICES.
        p
          | 2. Restrictions
        p
          | You may not remove any copyright, trademark or other proprietary notices
          | from any portion of the Services or reproduce, modify, prepare derivative
          | works or exploit the Services.
        p
          | 3. Third Party Provider
        p
          | The Services are made available through Couriers that Spin does not
          | control. Spin does not endorse such Couriers and in no event shall Spin be
          | responsible or liable for Couriers.
        p
          | 4. Payment and Item Restrictions
        p
          | You understand that use of the Services will result in charges to you
          | ("Charges"). Charges shall be posted and the Application upon confirmation
          | of the Services requested. Charges shall be paid in cash directly to
          | Couriers upon pick up of any package(s) or item(s) from you. Spin reserves
          | the right to set, remove and/or revise Charges for any or all services in
          | Spin's sole discretion. You understand and agree that, while you are free
          | to provide additional payment as a gratuity to any Courier, you are under
          | no obligation to do so. Furthermore, Spin and Couriers reserve the right to
          | reject any package(s) or item(s) at its own discretion.
        p
          | 5. Disclaimer
        p
          | THE SERVICES ARE PROVIDED "AS IS" AND "AS AVAILABLE." SPIN DISCLAIMS ALL
          | REPRESENTATIONS AND WARRANTIES, EXPRESS, IMPLIED, OR STATUTORY, NOT
          | EXPRESSLY SET OUT IN THESE TERMS, INCLUDING THE IMPLIED WARRANTIES OF
          | MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN
          | ADDITION, SPIN MAKES NO REPRESENTATION, WARRANTY, OR GUARANTEE REGARDING
          | THE RELIABILITY, TIMELINESS, QUALITY, SUITABILITY, OR AVAILABILITY OF THE
          | SERVICES OR ANY SERVICES OR GOODS REQUESTED THROUGH THE USE OF THE
          | SERVICES, OR THAT THE SERVICES WILL BE UNINTERRUPTED OR ERROR-FREE. SPIN
          | DOES NOT GUARANTEE THE QUALITY, SUITABILITY, SAFETY OR ABILITY OF COURIERS.
          | YOU AGREE THAT THE ENTIRE RISK ARISING OUT OF YOUR USE OF THE SERVICES, AND
          | ANY SERVICE OR GOOD REQUESTED IN CONNECTION THEREWITH, REMAINS SOLELY WITH
          | YOU, TO THE MAXIMUM EXTENT PERMITTED UNDER APPLICABLE LAW.
        p
          | 6. Limitation of Liability
        p
          | SPIN SHALL NOT BE LIABLE FOR INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY,
          | PUNITIVE, OR CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS, LOST DATA,
          | PERSONAL INJURY, OR PROPERTY DAMAGE RELATED TO, IN CONNECTION WITH, OR
          | OTHERWISE RESULTING FROM ANY USE OF THE SERVICES, REGARDLESS OF THE
          | NEGLIGENCE (EITHER ACTIVE, AFFIRMATIVE, SOLE, OR CONCURRENT) OF SPIN, EVEN
          | IF SPIN HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
        p
          | SPIN SHALL NOT BE LIABLE FOR ANY DAMAGES, LIABILITY OR LOSSES ARISING OUT
          | OF YOUR USE OF OR RELIANCE ON THE SERVICES OR YOUR INABILITY TO ACCESS OR
          | USE THE SERVICES OR ANY TRANSACTION OR RELATIONSHIP BETWEEN YOU AND ANY
          | COURIER, EVEN IF SPIN HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
          | SPIN SHALL NOT BE LIABLE FOR DELAY OR FAILURE IN PERFORMANCE.
        p
          | THE SERVICES MAY BE USED BY YOU TO REQUEST AND SCHEDULE COURIERS SERVICES
          | WITH THIRD PARTY PROVIDERS, BUT YOU AGREE THAT SPIN HAS NO RESPONSIBILITY
          | OR LIABILITY TO YOU RELATED TO ANY TRANSPORTATION, GOODS OR LOGISTICS
          | SERVICES PROVIDED TO YOU BY COURIERS OTHER THAN AS EXPRESSLY SET FORTH IN
          | THESE TERMS.
        p
          | 7. Indemnity
        p
          | You agree to indemnify and hold Spin and its affiliates and their officers,
          | directors, employees, and agents harmless from any and all claims, demands,
          | losses, liabilities, and expenses (including attorneys' fees), arising out
          | of or in connection with your use of the Services or your violation of the
          | rights of any third party, including Couriers.
        
        
