.login-screen
  .view
    .page
      .page-content.login-screen-content
        img.logo(:src='isBus?"img/logo-bus.png":"img/logo.png"')
        input.name(placeholder="Account Name",v-model="name")
        input.password(placeholder="Password",type="password",v-model="password")
        button.login(@click="onLogin") Sign In
        a.sign(v-show='isBus',@click="onToSign") Sign Up
include user-sign
